.menu {
    display: flex;
    justify-content: center;
    
}

@font-face {
    font-family: 'Bloomberg';
    src: local('Bloomberg'), url(../assets/fonts/Blomberg.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.gameType {
    padding: 80px;
    border-radius: 45%;
    background-color: rgb(0, 184, 184);
    transition-duration: .25s;
    font-family: Bloomberg;
    max-width: 300px;
    margin: 10% 25px;
}

.gameType:hover {
    background-color: rgb(0, 95, 95);
    cursor: pointer;
    transform: scale(1.25);
}

