* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


@font-face {
    font-family: 'Grinched';
    src: local('GrinchedRegular'), url(../assets/fonts/GrinchedRegular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

nav {
    display: flex;
    color: white;
    background-color: #333;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-family: Grinched;
}

nav .title {
    font-size: 2.5rem;
    margin: 0.5rem 0 0.5rem 20px;

}

nav a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    
}

nav li .active {
    background-color: #555;
}

nav li :hover {
    background-color: #777;
}